.container
  .row.text-center
    .col-sm-6.text-left
      h3 Login To The Crowd App
      form
        .form-group
            label(for='Username') Username 
              input#Username.form-control(type='text', placeholder='Username', ng-model="username")  
        .form-group
          label(for='Password') Password  
          input#Password.form-control(type='password', placeholder='Password', ng-model="password")
        button.btn.btn-default(type="submit", ng-click="authenticate()") Submit
