.container
  .row.text-center
    .col-sm-6.text-left
      h3 Login To The Crowd App
      form
        .form-group
            label(for='exampleInputEmail1') Email address 
              input#exampleInputEmail1.form-control(type='email', placeholder='Enter email')  
        .form-group
          label(for='exampleInputPassword1') Password  
          input#exampleInputPassword1.form-control(type='password', placeholder='Password')
