doctype html
html
  head
    title Express Crowd App
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap/bootstrap-theme.min.css')  
    script.
      var user = #{JSON.stringify(user)};
  body(ng-app="crowd-app")
    block content
    script(type='text/javascript',src="/js/app.js")
